@import "../../Assets/colors/colors.css";
body{
  background: rgb(20, 16, 43);
}

.login-seccion{
  width: 100vw;
  height: 100vh;
  align-content: center;
  margin-inline:15% ;
}
.login-main-box{
  background: white;
  width: 70%;
  height: 80%;
  display: flex;
  border-radius: 10px;
  box-shadow: 7px 13px 37px #000000;
}
.imagen{
  width: 70%;
  content: url("../../Assets/Images/Baners_jpg/imagelogin.png");
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.login-box{
  width: 35%;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  padding: 2%;
}
.login-box input {
  margin-bottom: 10%;
}
.login-box input[type="text"], .login-box input[type="password"] {
  padding: 0%;
  width: 100%;
  background: #ffffff;
  color: rgb(0, 0, 0);
  font-size: 1em;
  border: 1px solid #000000;
  border-radius: 10px;
  margin-bottom: 2vh;
  padding: 2%;
}
.login-box input[type="submit"] {
  width: 100%;
  border: none;
  outline: none;
  color: #fff;
  font-size: 1em;
  border-radius: 10px;
  padding: 2%;
  background: rgb(130, 130, 230);
}
.login-box img{
  height: 15%;
  content: url("../../Assets/Images/Logos/Logo_2.png");
}
.login-box input[type="submit"]:hover {
  cursor: pointer;
  border: 2px solid transparent;
  border-color: #fff;
}

.lg{
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-top: 10%;
  margin-bottom: 5%;

  hr{
    transform: rotate(90deg);
    background-color: black;
  }
}

@media (max-width:600px) {
  .imagen{
    display: none;
  }
  .login-box{
    width: 100%;
  }
}
@media (max-width:1000px) {
  .imagen{
    width: 50%;
  }
  .login-box{
    width: 100%;
  }
}
/*8
.login-box h1 {
  margin: 0;
  margin-bottom: 5%;
  text-align: start;
  font-size: 15em;
  font-family: "League Gothic";
}
.login-box label {
  margin: 0;
  padding: 0; 
  margin-bottom: 1%;
  font-weight: bold;
  display: block;
  font-size: 10em;
  font-family: "League Gothic";
}

.login-box Link {
  text-decoration: none;
  font-size: 9em;
  line-height: 20px;
  color: rgb(234, 234, 234);
  font-family: "League Gothic";
}
.login-box Link:hover {
  color: #fff;
  text-decoration: dashed;
}
@media(max-width:1024px){
  .login-box{
    width: 80%; 
    height: 90%;
    font-size:20%;
    padding-inline: 5%;
    font-size: 20%;
  }
}
@media(max-width:600px){
  .login-box{
    width: 60%; 
    height: 70%;
    font-size:15%;
    padding-inline: 5%;
  }
}

*/




