.globe {
    position: absolute;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background: url('../../../Assets/Images/Baners_jpg/image.png');
    background-size: cover;
    animation: tierra 5s infinite linear;
}

@keyframes tierra{
    from{
        background-position:left center ;
    }
    to{
        background-position: right center;
    }
}

