.overlay-av {
    background: rgba(49, 49, 49, 0.8);
}
.Aviso, .overlay-av {
    z-index: 101;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.avisoContent{
    z-index: 101;
    position: fixed;
    top:20%;
    width: 320px;
    height: 400px;
    background-color: aliceblue;
    display: grid;
    grid-template-rows: 120px 70px 120px 70px;
    grid-template-areas: 
    "sec0-av"
    "sec1-av"
    "sec2-av"
    "sec3-av";
    border-radius: 5px;
    padding: 10px;
}

.sec0-ev{
    grid-area: sec0-av;
    display: flex;
    justify-content: center;
}
.sec1-ev{
    grid-area: sec1-av;
    display: flex;
    justify-content: center;
}
.sec1-ev p{
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}
.sec2-ev{
    grid-area: sec2-av;
    display: flex;
    justify-content: center;
}
.sec2-ev p{
    font-size: 17px;
    text-align: center;
}
.sec3-ev{
    grid-area: sec3-av;
    display: flex;
    justify-content: center;
}
.sec3-ev button{
    width: 200px;
    height: 50px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
    transition-duration: 0.4s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.sec3-ev button:hover{
    transform: scale(1.1);
    background-image: url("../../Assets/Images/Baners_jpg/Gold.png");
}