.contain-wd {
    width: 40%;
    height: 100%;
    background-color: rgb(228, 233, 149);
    font-size: 100%;
    display: flex;
    flex-direction: column;
    text-align: start;
    font-family: "League Gothic";
}

.contain-wd .contain-msg {
    background-color: beige;
    display: flex;
    flex-direction: column;
    padding-inline: 5%;
}

.contain-wd .contain-msg .welcome {
    font-size: 4em;
    align-self: self-start;
    margin-top: 2%;
}

.contain-wd .contain-msg .logo {
    width: 60%;
    content: url("../../../Assets/Images/Logos/Logo_2.png");
}

.contain-wd .textWel {
    width: 100%;
    font-size: 3em;
    text-align: justify;
    padding-inline: 5%;
    padding-top: 3%;
}

.contain-wd .textWel2 {
    display: block;
    width: 90%;
    background-color: aliceblue;
    font-size: 3.5em;
    border:  10px double rgb(0, 0, 0);
    padding: 3%;
    text-align: justify;
    margin-top: 20%;
    align-self: center;
}

@media(max-width:600px) {
    .contain-wd {
        width: 100%;
        height: 100%;
        border-radius: 0;
        font-size: 40%;
        align-items: center;
    }

    .contain-wd .contain-msg .welcome {
        font-size: 6em;
    }

    .contain-wd  .textWel {
        font-size: 4.5em;
    }

    .contain-wd  .textWel2 {
        margin-top: 10%;
        margin-bottom: 10%;
        font-size: 5.5em;
    }
}

@media(max-width:1300px) {
    .contain-wd {
        width: 100%;
        height: 100%;
        border-radius: 0;
        font-size: 60%;
        align-items: center;
    }

    .contain-wd .contain-msg .welcome {
        font-size: 6em;
    }

    .contain-wd  .textWel {
        font-size: 4.5em;
    }

    .contain-wd  .textWel2 {
        margin-top: 10%;
        margin-bottom: 10%;
        font-size: 5.5em;
    }
}