@import url("../../Assets/colors/colors.css");

.compQR {
    width: 100%;
    margin-top: 5%;
    z-index: 101;
}

.none {
    display: none;
}


.modal-content {
    width: 1000PX;
    height: 550PX;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #f1f1f1;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 450px auto;
    grid-template-rows: 50px repeat(3, 150px) 50px;
    grid-template-areas:
        "secqr1 secqr1"
        "secqr2 secqr3"
        "secqr2 secqr4"
        "secqr2 secqr4"
        "secqr5 secqr5";
}

.secqr1 {
    grid-area: secqr1;
    display: flex;
    flex-direction: row-reverse;
    padding-inline: 1%;
    padding-top: 1%;
}
.secqr2 {
    grid-area: secqr2;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
}
.secqr3 {
    grid-area: secqr3;
    padding: 2%;
}
.secqr4 {
    grid-area: secqr4;
}
.secqr5 {
    grid-area: secqr5;
    display: flex;
    flex-direction: row-reverse;
    padding-inline: 1%;
}

.secqr1 .close-modal{
    background: transparent;
    border: none;
}

.secqr2 .qr {
    width: 90%;
    border-radius: 10px;
    content: url("../../Assets/Images/qr/qrms.png");
    border: 2px solid black;
}
.secqr2 p {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 18px;
}

.secqr3 input {
    width: 100%;
    padding: 2%;
    border-radius: 10px;
}

.secqr3 .wallet {
    width: 100%;
    display: flex;
    margin-bottom: 2%;
}

.secqr3 .wallet input {
    border-radius: 0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.secqr3 .wallet i {
    font-size: 15px;
}

.secqr3 .wallet button {
    width: 5%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-inline-start: -1%;
}

.secqr3 .select-container {
    width: 100%;
    display: flex;
    position: relative;
    margin-inline-end: auto;
    min-width: 250px;
    height: 40px;
}

.secqr3 .select-box {
    appearance: none;
    width: 100%;
    padding: 1%;
    padding-inline: 2%;
    color: rgb(0, 0, 0);
    background-color: transparent;
    font-size: 20px;
    border-radius: 10px;
}

.secqr3 .select-container .icon-container {
    width: 5%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    z-index: -1;
    border: 2px solid black;
    margin-inline-start: -5%;
}

.secqr3 .icon-container i {
    font-size: 20px;
}

.secqr4{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "seccionPack nota";
    gap: 10px;
    padding: 2%;
}
.seccionPack{
    display: flex;
    flex-direction: column;
    border: 3px solid black;
    border-radius: 10px;
    grid-area: seccionPack;
    justify-content: center;
    align-items: center;
}
.seccionPack p{
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}
.seccionPack img{
    width: 60%;
}

.seccionNota{
    display: flex;
    flex-direction: column;
    grid-area: nota;
}
.seccionNota p{
    border: 2px solid black;
    border-radius: 10px;
    padding: 2%;
}
.seccionNota span{
    font-weight: bold;
}

.secqr5 .button {
    align-self: center;
    width: 15%;
    height: 20px;
    display: flex;
    align-items: center;
    font-family: inherit;
    cursor: pointer;
    font-weight: 500;
    font-size: 17px;
    padding: 0.8em 1.3em 0.8em 0.9em;
    color: white;
    background: black;
    border: none;
    letter-spacing: 0.05em;
    border-radius: 16px;
}
.secqr5 .button svg {
    margin-right: 3px;
    transform: rotate(30deg);
    transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
}
.secqr5 .button span {
    transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
}
.secqr5 .button:hover svg {
    transform: translateX(5px) rotate(90deg);
}
.secqr5 .button:hover span {
    transform: translateX(7px);
}


.overlay {
    background: rgba(49, 49, 49, 0.8);
}
.modal,
.overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.modal-content::-webkit-scrollbar {
    width: 8px;
}
.modal-content::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
}
.modal-content::-webkit-scrollbar-track {
    background-color: #000000;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}