.EditarUsuario{
    width:calc(100% - 20px);
    height: 800px;
    margin-inline: 10px;
    background-color: aliceblue;
    border: 1px solid black;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 50px repeat(3,75px) 50px repeat(3,75px);
    grid-template-areas: 
    "sec0-edtu sec0-edtu sec21-edtu"
    "sec1-edtu sec2-edtu sec2-edtu"
    "sec3-edtu sec4-edtu sec5-edtu"
    "sec6-edtu sec6-edtu sec7-edtu"
    "sec8-edtu sec8-edtu sec8-edtu"
    "sec9-edtu sec10-edtu sec11-edtu"
    "sec12-edtu sec13-edtu sec14-edtu"
    "sec15-edtu sec16-edtu sec17-edtu"
    "sec18-edtu sec18-edtu sec18-edtu"
    "sec19-edtu sec19-edtu sec19-edtu"
    "sec20-edtu sec20-edtu sec20-edtu";
    padding: 10px;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

.sec0-edtu{
    grid-area:sec0-edtu;
}
.titulo-edtu{
    font-size: 25px;
    font-weight: 600;

}
.sec1-edtu{
    grid-area:sec1-edtu;
}
.sec2-edtu{
    grid-area:sec2-edtu;
}
.sec3-edtu{
    grid-area:sec3-edtu;
}
.sec4-edtu{
    grid-area:sec4-edtu;
}
.sec5-edtu{
    grid-area:sec5-edtu;
}
.sec6-edtu{
    grid-area:sec6-edtu;
}
.sec7-edtu{
    grid-area:sec7-edtu;
}
.sec8-edtu{
    grid-area:sec8-edtu;
}
.sec9-edtu{
    grid-area:sec9-edtu;
}
.sec10-edtu{
    grid-area:sec10-edtu;
}
.sec11-edtu{
    grid-area:sec11-edtu;
}
.sec12-edtu{
    grid-area:sec12-edtu;
}
.sec18-edtu{
    grid-area:sec18-edtu;
}
.sec19-edtu{
    grid-area:sec19-edtu;
}
.sec20-edtu{
    grid-area:sec20-edtu;
}
.sec21-edtu{
    grid-area:sec21-edtu;
}

.deleteSection{
    display: flex;
    position: absolute;
    justify-content: space-evenly;
    align-items: center;
    padding: 0;
    margin: 0;
    overflow: hidden;
    top: 0;
    left: 0;
}
.overlay-ads{
    background-color: #3333339d;
    position: relative;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
}
.deleteContain{
    position: fixed;
    display: grid;
    background-color: white;
    width: 300px;
    height: 200px;
    grid-template-rows: 150px 50px;
    border-radius: 10px;
}

.sec1-dc{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
.sec2-dc{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-top: 1px solid rgb(133, 133, 133);
}
.sec2-dc button{
    padding: 5px 15px;
    border-radius: 5px;
    border: 1px solid #333;
    color: white;

}

.sec2-dc .cancel{
    background-color: rgb(248, 109, 109);
}
.sec2-dc .ok{
    background-color: rgb(51, 130, 53);
}