.EditarUsuario{
    width:calc(100% - 20px);
    height: 800px;
    margin-inline: 10px;
    background-color: aliceblue;
    border: 1px solid black;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 50px repeat(3,75px) 50px repeat(3,75px);
    grid-template-areas: 
    "sec0-edtu sec0-edtu sec21-edtu"
    "sec1-edtu sec2-edtu sec2-edtu"
    "sec3-edtu sec4-edtu sec5-edtu"
    "sec6-edtu sec6-edtu sec7-edtu"
    "sec8-edtu sec8-edtu sec8-edtu"
    "sec9-edtu sec10-edtu sec11-edtu"
    "sec12-edtu sec13-edtu sec14-edtu"
    "sec15-edtu sec16-edtu sec17-edtu"
    "sec18-edtu sec18-edtu sec18-edtu"
    "sec19-edtu sec19-edtu sec19-edtu"
    "sec20-edtu sec20-edtu sec20-edtu";
    padding: 10px;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

.sec0-edtu{
    grid-area:sec0-edtu;
}
.titulo-edtu{
    font-size: 25px;
    font-weight: 600;

}
.sec1-edtu{
    grid-area:sec1-edtu;
}
.sec2-edtu{
    grid-area:sec2-edtu;
}
.sec3-edtu{
    grid-area:sec3-edtu;
}
.sec4-edtu{
    grid-area:sec4-edtu;
}
.sec5-edtu{
    grid-area:sec5-edtu;
}
.sec6-edtu{
    grid-area:sec6-edtu;
}
.sec7-edtu{
    grid-area:sec7-edtu;
}
.sec8-edtu{
    grid-area:sec8-edtu;
}
.sec9-edtu{
    grid-area:sec9-edtu;
}
.sec10-edtu{
    grid-area:sec10-edtu;
}
.sec11-edtu{
    grid-area:sec11-edtu;
}
.sec12-edtu{
    grid-area:sec12-edtu;
}
.sec18-edtu{
    grid-area:sec18-edtu;
}
.sec19-edtu{
    grid-area:sec19-edtu;
}
.sec20-edtu{
    grid-area:sec20-edtu;
}
.sec21-edtu{
    grid-area:sec21-edtu;
}