.userDetail{
    padding: 2%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(10, 37, 64, 0.35) 0px -2px 6px 0px;
    height: 100%;
    width: 100%;
}
.userDetail .rangoImg{
    width: 200px;
    height: 200px;
    background-color: rgb(245, 249, 252);
    margin-top: 5%;
    margin-bottom: 1%;
    border: 3px solid rgb(207, 137, 17);
    border-radius: 50%;
    background-color: #070d3b;
}
.userDetail .p0{
    font-size: 20px;
    font-weight: bold;
}
.userDetail .p1{
    font-size: 25px;
    margin-bottom: 3%;
}
.userDetail .datosUser{
    width: 75%;
    height: 20%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content:space-around ;
}
.userDetail .p2{
    font-size: 20px;
}

.tablaRed{
    margin-top: 50px;
    width: 80%;
    display: flex;
    justify-content: space-around;
}
.datosRedes{
    padding: 10px;
    text-align: center;
    background-color: aliceblue;
    border-radius: 10px;
    box-shadow: rgba(10, 37, 64, 0.35) 0px -2px 6px 0px;
}
.titulo{
    font-size: 20px;
    margin-bottom: 5px;
}
.datoRed{
    font-size:20px;
}