.contain-data {
  height: 100%;
  border-radius: 10px;
  background-color: #ffffff;
  padding: 15px;
  display: flex;
  flex-direction: row;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  transition: .4s ease-in-out;
}

.contain-data p {
  font-size: 1.2rem;
  line-height: 2rem;
  color: rgb(84, 75, 75);
}
.contain-data h3 {
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 600;
  letter-spacing: -0.025em;
  line-height: 1;
  white-space: nowrap;
}
.contain-data .case2{
  display: flex;
  flex-direction: row;
}
.contain-data:hover {
  transform: scale(1.02);
  border: 3px solid rgb(236, 158, 15);
  box-shadow: none;
}
.contain-data img {
  line-height: 2rem;
  margin-inline-start: 10px;
  width: 30px;
  height: 30px;
  justify-self:center;
  align-self: center;
}
.none {
  display: none;
}